$back_lighter : #616161;
$back_light : #424242;
$back : #212121;
$border : #BDBDBD;
$font-color: #FAFAFA;

html {
  height: 100%;
  body {
    height: 100%;
    margin: 0;
    padding: 0;
    background: $back_light;
    color: $font-color;
  }
}

#container {
  display: flex;
  height: 100%;
  #left {
    background: $back_lighter;
    width: 300px;
    border-right: 1px solid $border;
    overflow-y: auto;
    overflow-x: hidden;
    .channel, .channel_user {
      width: 100%;
      text-align: center;
      height: 50px;
      font-size: 30px;
      line-height: 50px;
      border-bottom: 1px solid $border;
      border-right: 1px solid $border;
      &:hover {
        cursor: pointer;
        background: $back_lighter;
      }
      .nb_channel {
        color: red;
        float: right;
        margin-right: 15px;
      }
    }
    .channel {
      background: $back_light;
    }
    .channel_user {
      background: #00422A;
    }
  }
  #main {
    width: 100%;
    display: flex;
    flex-direction: column;
    #logs {
      display: flex;
      flex-direction: row;
      width: 100%;
      height: 100%;
      border-bottom: 1px solid $border;
      #log, #msgs {
        width: 50%;
        height: 100%;
        resize: none;
        border: 0;
        padding: 0;
        color: $font-color;
        outline: none;
      }
      #log {
        background: $back;
      }
      #msgs {
        border-right: 1px solid $border;
        background: $back_light;
        .msg {
          font-size: 20px;
          margin-left: 20px;
          .author {
            color: #0c5666;
            margin-right: 20px;
          }
        }
      }
    }
    #bottomBar {
      width: 100%;
      height: 50px;
      outline: none;
      padding: 0;
      border: 0;
      background: white;
      font-size: 40px;
    }
  }
}